/* HOME SECTION STYLE */

@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Sora:wght@300;400;500;600;700&display=swap");
html {
  scroll-behavior: smooth;
}
html,
a {
  cursor: url("../img/cursor.webp"), auto;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Sora", sans-serif;
}
.animate-top {
  position: relative;
  animation: animatetop 0.8s;
}
@keyframes animatetop {
  from {
    top: 300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 15%;
  background-color: white;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
nav ul li button,
nav ul li button a {
  font-family: "Sora", sans-serif;
  border: none;
  text-decoration: none;
  color: #333333;
  background-color: transparent;
  font-weight: 500;
  transition: all 0.15s ease-in-out;
  font-size: 1rem;
}
nav ul li button a:hover {
  color: rgb(0, 162, 255);
  transition: all 0.15s ease-in-out;
}

/* Hamburger Menu */
.menu-toggle {
  display: none;
  width: 30px;
  height: 30px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 99;
}

.menu-toggle input {
  position: absolute;
  width: 44px;
  height: 44px;
  left: -2px;
  top: -2px;
  opacity: 0;
  cursor: pointer;
  z-index: 99;
}

.menu-toggle span {
  display: block;
  width: 6px;
  height: 6px;
  background-color: #333333;
  border-radius: 100px;
  transition: 0.4s;
}

.menu-toggle span:nth-child(2) {
  transform-origin: 0 0;
}

.menu-toggle input:checked ~ span:nth-child(2) {
  transform: rotate(-135deg) translate(-22px, -16px);
  width: 3px;
  height: 30px;
}

.menu-toggle input:checked ~ span:nth-child(3) {
  transform: scale(0);
}
.menu-toggle span:nth-child(4) {
  transform-origin: 0 100%;
}

.menu-toggle input:checked ~ span:nth-child(4) {
  transform: rotate(135deg) translate(-4px, 34px);
  width: 3px;
  height: 30px;
}

/* Hero Section */
.hero {
  font-family: "Public Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 5% 15%;
}
.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
.hero-left h1 {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}
.hero-left p {
  margin: 1rem 0 0 0;
  font-size: 1.2rem;
}
.hero-left a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
  color: #333333;
  text-decoration: none !important;
  border: 1px solid #333333;
  border-radius: 20px;
  width: 130px;
  height: 40px;
  transition: all 0.2s ease-in-out;
}
.hero-left a:hover {
  transform: translate(5px, -5px);
  box-shadow: -5px 5px #333333;
  transition: all 0.2s ease-in-out;
}
.hero-right {
  width: 50%;
}
.hero-right img {
  transform: scaleX(-1);
  float: right;
}

/* About Section */
.about article {
  background-color: black;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9rem 0;
}
.about-typo {
  justify-content: center;
  text-align: center;
  color: white;
}
.about-typo h1 {
  font-size: 3rem;
}
.about-typo p {
  margin: 1rem 25%;
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 1.5;
}
.about-typo p a {
  color: white;
}
.about-typo p a:hover {
  color: rgb(0, 162, 255);
  transition: all 0.2s ease-in-out;
}

/* Education Section */
.education-title h1 {
  display: flex;
  justify-content: center;
  font-size: 48px;
  margin-top: 4rem;
}
.education-title p {
  display: flex;
  justify-content: center;
}
.timeline-section {
  min-height: fit-content;
  padding: 40px 15px 40px 15px;
}
.timeline-items {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.timeline-items::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  background-color: black;
  left: calc(50% - 1px);
}
.timeline-item {
  margin-bottom: 40px;
  width: 100%;
  position: relative;
}
.timeline-item:last-child {
  margin-bottom: 0;
}
.timeline-item:nth-child(odd) {
  padding-right: calc(50% + 30px);
  text-align: right;
}
.timeline-item:nth-child(even) {
  padding-left: calc(50% + 30px);
}
.timeline-dot {
  height: 16px;
  width: 16px;
  background-color: #333333;
  position: absolute;
  left: calc(50% - 8px);
  border-radius: 50%;
  top: 10px;
}
.timeline-date {
  font-size: 1.2rem;
  color: #333333;
  margin: 6px 0 15px;
}
.timeline-content {
  padding: 30px;
  border-radius: 10px;
  border: 1px solid black;
  transition: all 0.15s ease-in-out;
}
.timeline-content:hover {
  transform: translate(5px, -5px);
  box-shadow: -5px 5px #333333;
  transition: all 0.15s ease-in-out;
}
.timeline-content h3 {
  font-size: 1.2rem;
  color: #333333;
  margin: 0 0 10px;
  text-transform: capitalize;
  font-weight: 500;
}
.timeline-content p {
  color: #333333;
  font-size: 1rem;
  font-weight: 300;
  line-height: 22px;
}

/* Awards Section */
.awards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}
.awards h1 {
  font-size: 3rem;
}
.awards p {
  font-size: 1rem;
}
.cards-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 15%;
}
.cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px black;
  width: 30%;
  height: fit-content;
  margin: 1rem 0;
  border-radius: 10px;
  transition: all 0.15s ease-in-out;
  z-index: 1;
}
.cards:hover {
  transform: translate(5px, -5px);
  box-shadow: -5px 5px #333333;
  transition: all 0.15s ease-in-out;
}
.card-img {
  margin: 1rem 1rem 0 1rem;
}
.card-img img {
  border-radius: 10px;
  width: 100%;
}
.card-title {
  margin: 1rem 1.2rem 0.2rem 1.2rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}
.card-subtitle {
  margin: 0 1.2rem 1rem 1.2rem;
  font-size: 1rem;
  text-align: center;
}
.card-info {
  margin: 0 1.2rem 1rem 1.2rem;
  text-align: justify;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: fit-content;
}
footer p {
  margin-top: 3rem;
  font-size: 2em;
  font-weight: bold;
  color: white;
}
.social-media {
  margin-top: 1rem;
  margin-bottom: 3rem;
}
.social-media ul {
  display: flex;
  gap: 1rem;
}
.social-media ul li {
  list-style: none;
}
.social-media ul li a {
  color: white;
  text-decoration: none;
  font-size: 2.2em;
  transition: all 0.2s ease-in-out;
}
.social-media ul li a:hover {
  color: rgb(0, 162, 255);
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 1024px) {
  .timeline-section {
    padding: 40px 15%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .hero-left {
    width: 100%;
  }
  .hero-left h1 {
    font-size: 2.5rem;
  }
  .hero-left p {
    font-size: 1.1rem;
  }
  .hero-right {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero-right img {
    float: none;
  }

  .about-typo h1 {
    font-size: 2.5rem;
  }
  .about-typo p {
    font-size: 1.1rem;
    margin: 1rem 20%;
  }

  .education-title h1 {
    padding: 0 15%;
    font-size: 2.5rem;
  }
  .timeline-date,
  .timeline-content h3 {
    font-size: 1rem;
  }
  .timeline-content p {
    font-size: 0.9rem;
  }

  .awards h1 {
    font-size: 2.5rem;
  }
  .cards {
    width: 45%;
  }
  .card-title {
    font-size: 1rem;
  }
  .card-subtitle {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 430px) {
  .menu {
    /* background-color: antiquewhite; */
    padding-top: 85px;
  }
  .mobile-title {
    font-size: 1rem;
  }
  nav {
    justify-content: space-between;
    padding: 1rem;
    /* margin: 1rem; */
    width: 100%;
    z-index: 100;
    /* background-color: aqua; */
  }
  nav.fixed {
    position: fixed !important;
  }

  nav ul {
    position: absolute;
    top: 0px;
    padding-top: 66px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    background-color: white;
    padding-left: 10%;
    z-index: 1;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }

  nav ul.slide {
    opacity: 1;
    transform: translateX(30%);
    top: 0px;
    padding-top: 66px;
    height: 100vh;
    padding-bottom: 3rem;
    z-index: -99;
    transition: all 0.5s ease-in-out;
    box-shadow: 2px 0px 24px 0px rgba(124, 124, 124, 0.75);
  }

  nav ul li {
    margin-top: 1px;
  }

  .menu-toggle {
    display: flex;
    margin-right: 20px;
    padding-right: 1rem;
  }

  .hero {
    padding: 5%;
  }

  .about-typo h1 {
    font-size: 2rem;
  }
  .about-typo p {
    font-size: 1rem;
    margin: 5%;
  }

  .education-title h1 {
    font-size: 2rem;
  }
  .education-title p {
    font-size: 1rem;
  }
  .timeline-section {
    padding: 40px 5%;
  }
  .timeline-content {
    padding: 0.8rem;
  }
  .timeline-content h3 {
    font-size: 1rem;
  }
  .timeline-content p {
    font-size: 0.8rem;
  }

  .education-title h1 {
    padding: 0 5%;
    text-align: center;
  }

  .awards h1 {
    font-size: 2rem;
  }
  .cards {
    width: 90%;
  }
}
